.App {
  text-align: center;
}

.BaseLayout {
  margin: 0px auto;
  width: 80%;
}

.nav {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav a {
  font-size: 18px;
  margin-right: 20px;
}

.nav a:first-child {
  color: black;
  font-size: 24px;
}

.Transaction .btn-outline-primary, .Transaction .btn-outline-success, .Transaction .btn-outline-info, .Transaction .btn-danger{
  cursor: pointer;
  margin-left: 5px;
}

.AccountDetail .back_users {
  cursor: pointer;
  flex-basis: 50%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.AccountDetail .btn {
  flex-basis: 50%;
  border-radius: 0px;
}

.modal_header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.Transaction p {
  border-bottom: 1px solid lightgray;
  padding: 15px 0px 20px 0px;
}

.accountType {

}

.balance {
  color:
}
